@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "./base/mixins" as *;

body {
  background-color: rgb(23, 4, 92);
  background-image: url('./../../images/space-background.png');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  .wrapper {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .playground {
      margin: 4rem auto;
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      max-width: 870px;
    }
  }
  .card {
    background-color: transparent;
    perspective: 1000px;
    width: calc(25% - 1.5rem);
    margin: 0.75rem;
    padding-top: calc((25% - 1.5rem) * 1.5);
    display: block;
    position: relative;

    .card-inner {
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    &.flipped .card-inner {
      transform: rotateY(180deg);
    }
  }
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    img {
      border-radius: 1rem;
      width: 100%;
      height: auto;
    }
  }
 
  .card-back {
    transform: rotateY(180deg);
  }
}
